<h2 class="text-center">Lista de productos:</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id:</th>
            <th>Nombre:</th>
            <th>Precio:</th>
            <th>Cantidad:</th>
        </tr>
    </thead>
    <tbody class="table" *ngFor="let product of products">
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}} $</td>
            <td>{{product.stocks}}</td>
        </tr>
    </tbody>
</table>